.form-input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 50px;
}

.form-label {
  position: absolute;
  top: -10px;
  left: 10px;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  background-color: white; /* Match your background color */
  padding: 0 5px;
  font-size: 16px;
  color: #2D2624;
  font-style: normal;
}

.relative {
  position: relative;
}
